*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.conveyor-machine {
  position: relative;
  display: flex;
  justify-content: center;
  width: 880px;
}

.conveyor-machine--container {
  width: 600px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.conveyor-machine--slide {
  display: flex;
  width: 1040px;
  height: auto;
  margin-left: -1600px;
}

.conveyor-machine--slide .box--wrapper {
  margin-left: 100px;
  width: 80px;
  height: 96px;
  border: 2px solid #a7d9e6;
  z-index: 12;
  clip-path: polygon(
    72% 0,
    72% 7%,
    64% 11%,
    85% 40%,
    85% 100%,
    15% 100%,
    15% 40%,
    36% 11%,
    28% 7%,
    28% 0
  );

  background: rgba(108, 236, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(108, 235, 255, 0.3);
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8),
    inset 0 0 10px 5px rgba(49, 124, 153, 0.5),
    inset 0px 2px 0 0 rgba(49, 124, 153, 0.1);
}

.box--wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 240px;
  z-index: -1;
  transform: translate3d(0, 95px, 0);
  background-color: #f7f8fc;
}

.box--wrapper.filled::after {
  animation: wave 3.8s ease-in-out, fill-bottle 0s ease 3.8s forwards,
    fill-bottle-2 3.8s ease;
}

#photo-sensor {
  --bg-photo-sensor: url("photo-sensor-off.png");
  bottom: 160px;
  position: absolute;
  left: calc((50% - 25px) - 5px);
  right: auto;
  margin: auto;
  margin-bottom: -70px;
  width: 60px;
  height: 60px;
  border: 10px solid transparent;
  background: var(--bg-photo-sensor);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-right: 4px;
  z-index: 14;
  transform: translate3d(0, 0, 0);
}

#photo-sensor.active {
  --bg-photo-sensor: url("photo-sensor-on.png");
}

#photo-sensor-colaider {
  width: 50px;
  height: 70px;
  display: block;
  position: absolute;
  top: -60px;
  left: 5px;
}

#hopper-box {
  position: relative;
  z-index: 11;
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
  background: #222d35;
  border-radius: 6px;
  box-shadow: inset 0 0 10px 5px rgba(49, 124, 153, 0.423),
    0 4px 30px rgba(0, 0, 0, 0.1);
}

.hopper {
  position: absolute;
  width: 20px;
  height: 4000px;
  top: 100%;
  left: calc(50% - 10px);
}

.milk-sensor {
  --bg-milk-sensor: url("milk-sensor-off.png");
  position: absolute;
  background: var(--bg-milk-sensor);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  top: 150%;
  left: calc((50% - 10px) + 10px);
  border-radius: 6px;
}


.milk-sensor.active{
  --bg-milk-sensor: url("milk-sensor-on.png");
}

.valve {
  --bg-valve: url("valve.png");
  position: absolute;
  background: var(--bg-valve);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  top: 100%;
  left: calc((50% - 10px) - 25px);
  border-radius: 6px;
  transform: rotate(-90deg);
  z-index: 1;
}

.valve::before {
  content: "";
  display: block;
  width: 5px;
  height: 50px;
  background: #fff;
  transform: translate3d(-28px,7px,0 ) rotate(90deg);
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.valve.active::before{
  visibility: visible;
}

#start-machine,
#end-machine {
  position: absolute;
  bottom: 55px;
  margin: auto;
  width: 160px;
  height: 200px;
  z-index: 15;
  background: #1d1d1d;
  border-radius: 6px;
  box-shadow: inset 0 0 10px 5px rgba(29, 0, 0, 0.423),
    0 4px 30px rgba(0, 0, 0, 0.1);
}

#start-machine {
  left: 0;
}

#end-machine {
  right: 0;
}

/* Logic for the belt movement  */
.conveyor-belt--container {
  height: 60px;
  width: 100%;
  display: block;
  background-color: #b1b1b1;
  overflow: hidden;
  z-index: 10;
}

.machine {
  margin: 0 auto;
  width: 540px;
}

.belt {
  width: 540px;
  height: 2px;
  background: black;
  box-shadow: 0px 29px 0 black;
  position: relative;
  margin: 0 auto;
}

.belt:before {
  content: "";
  width: 70px;
  height: 47px;
  border: 3px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: -8px;
  left: -9px;
}

.belt:after {
  content: "";
  width: 70px;
  height: 47px;
  border: 3px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: -8px;
  right: -9px;
}

.TheseAreTheBreaks {
  width: 10px;
  height: 10px;
  background: #b1b1b1;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: 0;
  z-index: 10;
  box-shadow: -80px 0px 0 #b1b1b1, -160px 0px 0 #b1b1b1, -240px 0px 0 #b1b1b1,
    -320px 0px 0 #b1b1b1, -400px 0px 0 #b1b1b1, -480px 0px 0 #b1b1b1,
    -560px 0px 0 #b1b1b1, 80px 0px 0 #b1b1b1, 160px 0px 0 #b1b1b1,
    240px 0px 0 #b1b1b1, 320px 0px 0 #b1b1b1, 400px 0px 0 #b1b1b1,
    480px 0px 0 #b1b1b1, 560px 0px 0 #b1b1b1, 540px 0px 0 #b1b1b1;
  animation: roll 10s linear infinite;
  z-index: 10;
}

.TheseAreTheBreaks_Again {
  width: 10px;
  height: 10px;
  background: #b1b1b1;
  border-radius: 50%;
  position: relative;
  top: 15px;
  right: 0;
  z-index: 11;
  box-shadow: 80px 0px 0 #b1b1b1, 160px 0px 0 #b1b1b1, 240px 0px 0 #b1b1b1,
    320px 0px 0 #b1b1b1, 400px 0px 0 #b1b1b1, 480px 0px 0 #b1b1b1,
    560px 0px 0 #b1b1b1, 540px 0px 0 #b1b1b1, 720px 0px 0 #b1b1b1,
    800px 0px 0 #b1b1b1, 880px 0px 0 #b1b1b1, 960px 0px 0 #b1b1b1,
    1040px 0px 0 #b1b1b1, 1120px 0px 0 #b1b1b1, 1200px 0px 0 #b1b1b1,
    1280px 0px 0 #b1b1b1, 1360px 0px 0 #b1b1b1;
  animation: rollback 10s linear infinite;
  z-index: 11;
}

.gear {
  width: 28px;
  height: 28px;
  z-index: 12;
  position: absolute;
  top: 1px;
  animation: load 3s linear infinite;
}

.gear-rigth {
  right: 0;
}

.panel-hmi{
  padding: 20px;
  width: 400px;
  height: 180px;
  background: #1d1d1d;
  border-radius: 6px;
  box-shadow: inset 0 0 10px 5px rgba(29, 0, 0, 0.423),
  0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 25;
  display: flex;

}

.led-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.led-text{
  color: #fff;
  font-size: 16;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.switches{
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, .1);
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.5em;
}

/* Hide default HTML checkbox */
.switch .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-radius: .1em;
  transition: .4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -.3em 0 0 0 #373737,-.3em .3em 0 0 #373737,.3em 0 0 0 #373737,.3em .3em 0 0 #373737,0 .3em 0 0 #373737;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: #373737;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #487bdb;
}



.leds-list{
  width: 160px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;  
  padding-left: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.led{
  --led-color: #ff2f14;
  --led-shadow: rgb(255, 73, 73);
  --led-outline: #ff6b6b;

  display: block;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50px;
  background: var(--led-color);
  box-shadow: 0 0 1px var(--led-shadow),
  0 0 2px var(--led-shadow),
  0 0 3px var(--led-shadow),
  0 0 5px var(--led-shadow),
  0 0 8px var(--led-shadow);
  outline: 0.5px solid var(--led-outline);
}

.led.active{
  --led-color: #00d68f;
  --led-shadow: #0fa;
  --led-outline: #7bffd3;
}

@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes roll {
  100% {
    left: 100%;
  }
}

@keyframes rollback {
  100% {
    right: 100%;
  }
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes fill-bottle {
  100% {
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes fill-bottle-2 {
  100% {
    transform: translate3d(0, -120px, 0);
  }
}
